DateTime==4.1.1
Flask==1.0.4
Jinja2==2.10.2
MarkupSafe==0.23
RPi.GPIO==0.6.2
Werkzeug==0.16.0
argparse==1.2.1
arrow==0.8.0
click==6.6
itsdangerous==0.24
plotly==1.12.9
python-dateutil==2.5.3
pytz==2016.6.1
requests==2.22.0
six==1.10.0
uWSGI==2.0.13.1
wsgiref==0.1.2
zope.interface==4.3.2
